//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        MainAndHorizontalStack,
        MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        EvenVertical,
        Fibonacci,
        LeftMain,
        CenterMain,
        CenterMainBalanced,
        CenterMainFluid,
        Monocle,
        RightWiderLeftStack,
        LeftWiderRightStack,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty", x: 860, y: 390, height: 300, width: 200),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: ClickTo,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (command: Execute, value: "dmenu_run", modifier: ["modkey"], key: "r"),
        (command: Execute, value: "brave", modifier: ["modkey"], key: "b"),
        (command: Execute, value: "google-chrome-stable", modifier: ["modkey"], key: "g"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "w"),
        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "r"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Control"], key: "x"),
        (command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "p"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "y"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "h"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "m"),
        (command: PreviousLayout, value: "", modifier: ["modkey"], key: "n"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        (command: ToggleFloating, value: "", modifier: ["modkey"], key: "t"),
        (command: IncreaseMainWidth, value: "", modifier: ["modkey"], key: "]"),
        (command: DecreaseMainWidth, value: "", modifier: ["modkey"], key: "["),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "e"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "a"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "s"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "d"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "f"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "u"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "i"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "o"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "p"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "a"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "s"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "d"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "f"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "u"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "i"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "o"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "p"),
    ],
    state_path: None,
)
